.clock-container{
    margin-top: 20px;
}

.time{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
}

.greet{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    margin: 0;
    font-weight: 100;
    font-family: "Clicker Script", cursive;
    /* font-optical-sizing: auto; */
}