h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
    color: rgb(248, 243, 253);
    margin: 12px;
}
  
.card {
    place-self: center;
    padding:  10px 50px 40px 50px;
    border-radius: 10px;
    background-color: rgb(167, 35, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    width: 90vw;
}

/* top */

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(220, 43, 226);
    flex-wrap: nowrap;
    justify-content: center;
}

.search-bar input {
    height: 40px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 20px;
    color: rgb(71, 6, 61);
    background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    width: 60vw; 
    max-width: 250px;
}

.search-bar img {
    width: 40px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s;
}
.search-bar img:hover {
    background-color: rgb(0, 0, 0);
}

/* mid */

.weather-icon {
    width: 120px;
    margin: 10px 0;
}

.temperature {
    color: #fff;
    font-size: 4rem;
    line-height: 1;
    margin: 0;
}
.feels {
    color: #ffffff;
    font-size: 12px;
    /* line-height: 1; */
    margin-top: 10px;
}
.location {
    color: #fff;
    font-size: 2rem;
    /* font-weight: 600; */
    margin: 0;
    margin-bottom: 5px;
}

.description {
    color: #fff;
    font-size: 1rem;
    margin: 0;
    font-weight: 200;
}

/* bottom */

.weather-data {
    width: 100%;
    margin-top: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.weather-data .col {
    display: flex;
    align-items: flex-start;    
    gap: 12px;
    font-size: 1rem;
}

.weather-data .col p {
    margin: 0;
    font-size: 0.9rem;
}

.weather-data .col span {
    margin: 0;
    display: block;
    font-size: 0.7rem;
}

.weather-data .col img {
    width: 24px;
    margin-top: 6px;
}

/* Responsive tweaks */
@media screen and (max-width: 768px) {
    .card {
        place-self: center;
        padding:  20px 30px 40px 30px;
        border-radius: 10px;
        background-color: rgb(167, 35, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 350px;
        width: 90vw;
    }

    .temperature {
        font-size: 3rem;
    }

    .location {
        font-size: 1.7rem;
    }

    .description {
        font-size: 0.95rem;
    }
}

